.container {
   
    min-height: 100vh;
    min-height: 100dvh;
    display:grid ;
    grid-template-rows: auto 1fr auto;
    border: 3px solid green;
}

footer, header {
    background-color: aqua;
}


header {
    font-size: 20vh;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    padding: 0 auto;
}